body{
    margin: 0;
    padding: 0;
    max-height: 100%;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 16px;
    overflow: hidden;
    background-color:  rgb(36, 30, 31);
    text-align: center;
   
}
.menu li{
    display: inline;
    
}
li a{
    color:rgb(221, 217, 217);
    text-decoration: none;
    padding: 17px 30px;
    font-family: 'Yusei Magic', sans-serif;
    
   
    
}
li a:hover{
    background: rgb(221, 217, 217);
    color: rgb(36, 30, 31);
}
section{
    background: rgba(255, 255, 255, 0.897);
    font-family: 'Yusei Magic', sans-serif;
    border-radius: 5px;
    box-shadow: 10px 10px 50px black;
    width: 60%;
    margin: auto;
    padding: 20px;
    margin-bottom: 0%;

}
section .titulo{
    text-align: center;
    font-size: 30px;

}
.descricao{
    color: rgba(0, 0, 0, 0.719);
    font-family: 'Yusei Magic', sans-serif;
}
.botao{
    font-size: 1.2em;
    border-radius: 3px;
    width: 150px;
    text-align: center;
    text-decoration: none;
    color:white;
    padding: 0.3em;
    border: none;
    background: #6ab04c;
    margin: auto;
    display: flex;
    font-family: 'Yusei Magic', sans-serif;
    height: 50px;

}
.botao:hover{
    background: #578d40;
    color: white;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.349);
    border: solid rgba(0, 0, 0, 0.521) 1px;
}




footer{
    text-align: center;
    color: rgba(255, 255, 255, 0.897) ;
    background-color: rgb(46, 39, 40);
    position: relative;
    font-family: 'Yusei Magic', sans-serif;
    bottom: 0px;
    padding: 5px;
    height:205px;
    margin-top: 158px;

}
    